.detail_container{
  padding: 20px;
  padding-top: 60px;
}

.video_ad{
  position: absolute;
  top: 56px;
  width: 100%;
  left: 0;
  opacity: 0.8;
}

.btn_close{
  position: absolute;
  background: #fff;
  z-index: 1;
  opacity: 0.3;
}

.org_price{
  margin: auto 12px;
  text-decoration: line-through;
  color: lightgray;
}

.add_cart_button{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    width: 150px;
    padding: 12px 20px;
}

.info_points{
  padding-left: 25px;
}

.info_points li {
  color: gray;
  margin-top: 5px;
}
