      <div class="container">
        <div class="row">
            <div class="col-md-12">
              <section class="feature-category">
                  <div class="row pb-3">
                      <div class="col-md-12">
                          <span class="feature_sub_title text-center">Fill checkout form details</span>
                          <hr>
                      </div>
                  </div>
              </section>
          </div>

          <div *ngIf="showPaymentButton" class="col-12 text-center">
            <button type="submit" (click)="createPayment()" class="btn btn-primary">Continue For Payment</button>
          </div>


          <div *ngIf="!showPaymentButton" class="col-md-12">
              <section class="feature-category description-section">
                  <div class="row">
                      <div class="col-md-12">
                            <form #form="ngForm" (ngSubmit)="createOrder(form)">
                                <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label>Full Name</label>
                                    <input type="text" name="name" ngModel #name="ngModel" class="form-control"  placeholder="Full Name" required autocomplete="off">
                                    <div *ngIf="name.touched && name.hasError('required')" class="invalid-feedback" style="display: inline-block;">
                                      Full Name is required
                                    </div>
                                </div>

                                </div>
                                <div class="form-group">
                                  <label for="address">Full Address</label>
                                  <textarea name="address" ngModel #address="ngModel" class="form-control"  maxlength="255" placeholder="Apartment, studio, or floor" required></textarea>
                                  <div *ngIf="address.touched && address.hasError('required')" class="invalid-feedback" style="display: inline-block;">
                                    Address is required
                                  </div>
                              </div>
                                <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label for="mobile">Mobile Number</label>
                                    <input type="text" maxlength="10" name="mobile" ngModel #mobile="ngModel" class="form-control" placeholder="Mobile Number" required autocomplete="off">
                                    <div *ngIf="mobile.touched && mobile.hasError('required')" class="invalid-feedback" style="display: inline-block;">
                                      Mobile number is required
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                  <label>City</label>
                                  <input type="text" name="city" ngModel #city="ngModel" class="form-control"  placeholder="City" required autocomplete="off">
                                  <div *ngIf="city.touched && city.hasError('required')" class="invalid-feedback" style="display: inline-block;">
                                    City is required
                                  </div>
                              </div>
                                </div>
                                <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label>State</label>
                                    <input type="text" name="state" ngModel #state="ngModel" class="form-control"  placeholder="State" required autocomplete="off">
                                    <div *ngIf="state.touched && state.hasError('required')" class="invalid-feedback" style="display: inline-block;">
                                      State is required
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                  <label for="pin">Pin Code</label>
                                  <input type="text" name="pin_code" ngModel #pin_code="ngModel" maxlength="6" class="form-control"  placeholder="Pin Code" required autocomplete="off">
                                  <div *ngIf="pin_code.touched && pin_code.hasError('required')" class="invalid-feedback" style="display: inline-block;">
                                    Pincode is required
                                  </div>
                              </div>

                                </div>
                                <div class="text-center">
                                  <button type="submit" class="btn btn-primary">Checkout</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
