.breadcrumb{
  padding: 6px 0px!important;
}
.list_container {
  max-height: calc(100vh - 222px);
  overflow: scroll;
  // padding: 10px 0px;
}

.list_details {
  font-size: 16px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border: 1px solid #eaeaea;
    box-shadow: 0 5px 10px #f1f1f1;
    border-radius: 5px;
    border-left:3px solid #353a40;
}

.list_info{
    display: flex;
    align-items: center;
    padding: 10px;
    flex: 4;
    cursor: pointer;
}
.list_info div{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.list_info div .name {
  padding-bottom: 5px;
}

.list_info div .code{
  font-size: 90%;
}


// modal data
.form-group label {
  font-size: 14px;
}
.form-group label span {
  color: slategray;
  font-size: 14px;
}

.detail_modal_body {
  max-height: 50vh;
  overflow: scroll;
  padding: 30px;
}

.detail_label_val{
  border: 1px solid #e6e6e6;
  padding: 10px;
  box-shadow: 3px 2px 7px -5px rgba(0, 0, 0, 0.4);
  max-height: 53px;
  overflow: scroll;
}

.assign_btn {
  position: absolute;
  right: 20px;
  z-index: 1111;
}

.btn_action {
    padding: 0 4px;
    font-size: 11px;
    font-weight: bold;
}
.action_column {
  flex-wrap: wrap;
  // justify-content: space-around;
  align-items: center;
  width: 100%;
}
.mr_5p {
  margin-right: 5px;
}
