<div class="row">
<div class="col-12" *ngIf="documents?.length; else notfound">

  <p-tabView (onChange)="onTabChange($event)">
    <p-tabPanel
    [header]="document"
    *ngFor="let document of documents; let i = index;"
    [selected]="i == 0">
      <div class="row">
        <div class="col-12">

          <div style="display: flex; justify-content: space-between;">
            <span><pre class="card card-block card-header mb-3">The selected page no: {{currentPage}}/{{lastPageCount}}</pre></span>
            <pagination [boundaryLinks]="true"
            style="margin-top: 7px;"
            [itemsPerPage]="itemsPerPage"
            [rotate]='true'
            [maxSize]='5'
            [(ngModel)]="currentPage"
            [totalItems]="contentData.length"
            (numPages)="lastPageCount = $event"
            (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

            </pagination>
          </div>

          <ng-container *ngIf="selectedDocument == documents[0]">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let doc of paginatedData; let i =index;">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ doc.name_of_owner }}</td>
                <td> {{ doc.email }}</td>
                <td> {{ doc.mobile }}</td>
                <td>
                  <div class="row-actions">
                  <i (click)="showDetails()" class="pi pi-eye"></i>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>

        <ng-container *ngIf="selectedDocument == documents[1]">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile</th>
                <th scope="col">Village/City</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let doc of paginatedData; let i =index;">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ doc.full_name }}</td>
                <td>{{ doc.email }}</td>
                <td> {{ doc.mobile }}</td>
                <td> {{ doc.village_or_city }}</td>
                <td>
                  <div class="row-actions">
                  <i (click)="showDetails()" class="pi pi-eye"></i>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>

        <ng-container *ngIf="selectedDocument == documents[2]">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name3</th>
                <th scope="col">Description</th>
                <!-- <th scope="col">Actions</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let doc of paginatedData; let i =index;">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ doc.name }}</td>
                <td> {{ doc.description }}</td>
                <!-- <td> {{ doc.description }}</td> -->
              </tr>
            </tbody>
          </table>
        </ng-container>

        <ng-container *ngIf="selectedDocument == documents[3]">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let doc of paginatedData; let i =index;">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ doc.applicant_name }}</td>
                <td>{{ doc.email }}</td>
                <td> {{ doc.mobile }}</td>
                <td>
                  <div class="row-actions">
                  <i (click)="showDetails()" class="pi pi-eye"></i>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>

        </div>
      </div>

    </p-tabPanel>
</p-tabView>
</div>

<ng-template #notfound>
  <div class="col-12">
    <p class="text-grey text-center">No Data Found</p>
  </div>
</ng-template>


  <!-- <div class="col-12">

  </div> -->
</div>



<!-- Details Modal -->
<div class="modal fade" id="detail_modal" tabindex="-1" data-backdrop="static" data-keyboard="false"  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="selectedDocument == documents[0]">
          <div class="row">
            <div class="form-group col-md-4">
              <label for="inputCity">Name: <span class="text-grey">Name</span></label>
            </div>

            <div class="form-group col-md-4">
              <label for="inputCity">Description: <span class="text-grey">Description</span></label>
            </div>
            <div class="form-group col-md-4">
              <label for="inputCity">Description: <span class="text-grey">Description</span></label>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="selectedDocument == documents[1]">

        </ng-container>

        <ng-container *ngIf="selectedDocument == documents[2]">

        </ng-container>

        <ng-container *ngIf="selectedDocument == documents[3]">

        </ng-container>
      </div>
    </div>
  </div>
</div>
