.view_details{
  position: fixed;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: opacity 0.5s;
  border-left: 1px solid gray;
  overflow-y: scroll;
  z-index: 11;
}

.show_details{
  width: 500px;
  opacity: 1;
}

.back{
  background-color: #000;;
  color: #fff;
}
