// <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
@import "~bootstrap/scss/bootstrap";
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.logo{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 800 !important;
}
.home-banner{
    height: 500px;
}
.height-500{
    height: 500px;
}
.home-banner{
    background-image:url('https://res.cloudinary.com/urbanclap/image/upload/categories/category_v2/category_3fcf50f0.png');
    // background: linear-gradient(180deg,rgba(0,0,0,.16),rgba(0,0,0,.8));
}