// <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
@import "~bootstrap/scss/bootstrap";
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.logo {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: 800 !important;
}
.home-banner {
  height: 500px;
}
.height-500 {
  height: 500px;
}
.home-banner {
  background-image: url("https://res.cloudinary.com/urbanclap/image/upload/categories/category_v2/category_3fcf50f0.png");
}
.home-banner-opacity {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.8));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 100%;
}
.banner_h1{
    font-size: 48px;
    line-height: 105px;
    color: #fff;
    margin: 0;
    font-weight: 500;
    z-index: 3;
    position: relative;
    text-shadow: 0 1px 8px rgba(0,0,0,.2);
}
.category-section{
    display: flex;
    flex-direction: column;
    padding: 24px;
    background: #fff;
    margin: 64px auto;
    width: 1200px;
    border-radius: 4px;
    box-shadow: 0 8px 26px 0 rgba(0,0,0,.08);
    background-color: #fff;
}