<nav class="navbar navbar-expand-lg navbar-light bg-light vendor_reg_nav  pl-5 pr-5" style="background-color: #e3f2fd !important;height: 40px; padding: 0; margin: 0;">
  <a class="navbar-brand" href="#">
    <img src="assets/logo/logo.png" width="30">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="tel:+9765924481"><i class="fa fa-phone" aria-hidden="true"></i> 9765924481 <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mailto:info@documentdoctor.in"><b><i class="fa fa-envelope-o" aria-hidden="true"></i>
            info@documentdoctor.in</b></a>
      </li>
    </ul>
    <span class="navbar-text">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/blogs']" routerLinkActive="router-link-active">Blogs <span
              class="sr-only">Blogs</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-target="#vendor-register-modal" data-backdrop="static" data-keyboard="false"
      data-toggle="modal">Register As Professional <span class="sr-only">Register As Professional</span></a>
        </li>
        <li *ngIf="!authUser?.isAuthenticated" class="nav-item active">
          <a class="nav-link" (click)="isSideNav = true">Login / Sign Up <span class="sr-only">(Login/Sign Up)</span></a>
        </li>
        <li ngbDropdown *ngIf="authUser?.isAuthenticated" class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" style="color: #fff;" id="dropdown01"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ authUser?.user.mobile }}
          </a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="/my-account/profile">My Account</a>
            <a class="dropdown-item" data-toggle="modal" data-target="#alertPopup">Log Out </a>
          </div>
        </li>
      </ul>      
    </span>
  </div>
</nav>
<nav class="bg-dark navbar navbar-dark navbar-expand-lg pl-5 pr-5 sticky_nav bg-navy marginTop">
  <a @fadeInLeftTrigger class="navbar-brand" href="#"><img src="assets/logo/logo.png" height="50"></a>
  <button @fadeInLeftTrigger class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Start Business
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Company Incorporation</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Proprietorship Registration</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">LLP Registration</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">One Person Company Registration</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Private Limited Company Registration</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Partnership Registration</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Nidhi Company Registration</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Section 8 Company Registration</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Producer Company Registration</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Business Loan</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Licence/Registrations
        </a>
        <ul class="dropdown-menu">
          <a class="dropdown-item" href="/food-license">FSSAI Registration</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/fssai-license-renewal">FSSAI License Renewal</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/msme-registration">Udyog Aadhaar (MSME) Registration</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/udyam-registration">Udyam Registration</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/trademark-registration">Trademark Registration</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/gumasta-license">Shop Act (Gumsta) Registration</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/trade-license">Trade Licence</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/import-export-code">Import Export Code (IEC)</a>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          GST &amp; Taxes
        </a>
        <ul class="dropdown-menu">
          <a class="dropdown-item" href="/gst-registration">GST Registration</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/gst-filing">GST Filing</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/gst-cancellation">GST Cancellation</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/accounting">Accounting</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/tds-filing">TDS Return Filing</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/professional-tax">Professional Tax Registration (PT)</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/provident-fund">Employees Provident Fund</a>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Personal/Property
        </a>
        <ul class="dropdown-menu">
          <a class="dropdown-item" href="/registered-rent-agreement">Rent Agreement</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/online-rent-agreement">Notarized Rent Agreement</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/marriage-certificate-online">Marriage Registration</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/sale-deed">Sale Deed</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/gift-deed">Gift Deed</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/affidavits">Affidavits</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/power-of-attorney">Power of Attorney</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/property-registration">Property Registration</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/property-verification">Property Verification</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/name-change">Name Change</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/make-will-generator">Make a Will</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/mutual-consent-divorce">Divorce With Consent</a>
          <div class="dropdown-divider"></div>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div [@sideNavTrigger]="isSideNav ? 'open' : 'close'" id="mySidenav" class="sidenav">
  <div style="display: inline-flex;padding:15px;width: 100%;border-bottom: 1px solid #ced4da">
    <span style="font-size: 20px;padding-right: 10px;cursor: pointer;padding-top: 1px;margin-top: 4px;height: 23px;"
      (click)="isSideNav = false; isOTPNav = false;">
      <mat-icon aria-hidden="false" aria-label="Example close icon">close</mat-icon>
    </span>
    <p style="font-size: 20px; margin: 0;width: 300px;">Please login to continue</p>
  </div>
  <div class="position-relative p-3" style="height: 100%;">
    <div class="row">
      <div class="col-md-12">

        <!-- <form class="p-4"> -->
        <div class="form-group">
          <mat-form-field #mat appearance="standard">
            <!-- <mat-label>Your Phone Number</mat-label> -->
            <input matInput ngModel type="text" maxlength="10" pattern="[0-9]*" name="phone" #phone="ngModel"
              placeholder="Enter You Mobile Number" autocomplete="off" required>
            <span matPrefix>+91 &nbsp;</span>
            <mat-hint>Enter your mobile number to get an OTP for login.</mat-hint>
            <mat-error *ngIf="phone.hasError('pattern') && !phone.hasError('required')">
              Please enter a valid phone number
            </mat-error>
          </mat-form-field>
          <!-- <input class="form-control" ngModel #phone="ngModel" placeholder="Enter Your Mobile Number" required> -->
        </div>
        <div class="form-group">
          <button (click)="getOtp(phone.value)" class="btn btn-primary matContinueButton">Continue</button>
        </div>

        <!-- </form> -->
      </div>
    </div>

    <div [@sideNavTrigger]="isOTPNav ? 'open' : 'close'" class="cred_container">
      <div style="display: inline-flex;padding:15px;width: 100%;">
        <span (click)="isOTPNav = false; otp = null;"
          style="font-size: 20px;padding-right: 10px;cursor: pointer;padding-top: 1px;margin-top: 2px;height: 23px;">
          <mat-icon aria-hidden="false" aria-label="back icon">keyboard_backspace</mat-icon>
        </span>
        <p style="font-size: 18px; margin: 0;font-weight: 600;width: 300px;">Enter Verification Code</p>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="otp_info_text_container">
              <p class="inner_info_text">We have sent you a {{ config.length}} digit OTP</p>
              <p class="inner_info_text" style="margin: 0px;">on {{phone.value}}
                <span class="number_edit" (click)="isOTPNav = false;">Edit</span>
              </p>
            </div>

            <!-- <form class="p-4"> -->
            <div class="form-group text-center">
              <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
            </div>
            <div (click)="getOtp(phone.value)" class="form-group text-center" style="color: #304ffe;cursor: pointer;">
              Resend OTP
            </div>
            <div class="form-group">
              <button (click)="confirmOtp(phone.value)" class="btn btn-primary matContinueButton">Login</button>
            </div>

            <!-- </form> -->
          </div>
        </div>
      </div>
    </div>

  </div>


</div>


<alert-popup title="Alert!" [showOkbutton]="true" [showCancelbutton]="true" okButtonName="Confirm" cancelButtonName="No"
  okButtonColor="red" cancelButtonColor="#000" message="Are you sure you want to logout ?" (onOkButtonClick)="logOut()">
</alert-popup>


<!-- Login Modal -->
<div class="modal fade mt-8" id="vendor-register-modal">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 800px;">
    <div class="modal-content">
      <!-- <button  id="closeModal" type="button" class="close" data-dismiss="modal" aria-label="Close">x</button> -->
      <vendor-registration></vendor-registration>
    </div>
  </div>
</div>
