<nav class="bg-dark navbar navbar-dark navbar-expand-lg pl-5 pr-5 sticky_nav">
  <a @fadeInLeftTrigger class="navbar-brand" href="#">OrderBolo</a>
  <button @fadeInLeftTrigger class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li> -->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link">Blog <span class="sr-only">Blog</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Register As Professional <span class="sr-only">Register As Professional</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" (click)="isSideNav = true">Login / Sign Up <span class="sr-only">(Login/Sign Up)</span></a>
      </li>
    </ul>
  </div>
</nav>

<div [@sideNavTrigger]="isSideNav ? 'open' : 'close'" id="mySidenav" class="sidenav">
  <div style="display: inline-flex;padding:15px;width: 100%;border-bottom: 1px solid #ced4da">
    <span style="font-size: 20px;padding-right: 10px;cursor: pointer;padding-top: 1px;margin-top: 4px;height: 23px;"  (click)="isSideNav = false; isOTPNav = false;">
      <mat-icon aria-hidden="false" aria-label="Example close icon">close</mat-icon>
    </span>
    <p style="font-size: 20px; margin: 0;width: 300px;">Please login to continue</p>
  </div>
  <div class="position-relative p-3" style="height: 100%;">
    <div class="row">
      <div class="col-md-12">

        <!-- <form class="p-4"> -->
          <div class="form-group">
              <mat-form-field #mat appearance="standard">
                <!-- <mat-label>Your Phone Number</mat-label> -->
                <input matInput ngModel type="text" maxlength="10" pattern="[0-9]*" name="phone" #phone="ngModel" placeholder="Enter You Mobile Number" autocomplete="off" required>
                <span matPrefix>+91 &nbsp;</span>
                <mat-hint>Enter your mobile number to get an OTP for login.</mat-hint>
                <mat-error *ngIf="phone.hasError('pattern') && !phone.hasError('required')">
                  Please enter a valid phone number
                </mat-error>
              </mat-form-field>
              <!-- <input class="form-control" ngModel #phone="ngModel" placeholder="Enter Your Mobile Number" required> -->
          </div>
          <div class="form-group">
            <button (click)="validateNumber()" class="btn btn-primary matContinueButton">Continue</button>
          </div>

        <!-- </form> -->
      </div>
    </div>

    <div [@sideNavTrigger]="isOTPNav ? 'open' : 'close'" class="cred_container">
      <div style="display: inline-flex;padding:15px;width: 100%;">
        <span (click)="isOTPNav = false" style="font-size: 20px;padding-right: 10px;cursor: pointer;padding-top: 1px;margin-top: 2px;height: 23px;">
          <mat-icon aria-hidden="false" aria-label="back icon">keyboard_backspace</mat-icon>
        </span>
        <p style="font-size: 18px; margin: 0;font-weight: 600;width: 300px;">Enter Verification Code</p>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="otp_info_text_container">
              <p class="inner_info_text">We have sent you a 4 digit OTP</p>
              <p class="inner_info_text" style="margin: 0px;">on {{phone.value}}
                <span class="number_edit" (click)="isOTPNav = false;">Edit</span>
              </p>
            </div>

            <!-- <form class="p-4"> -->
              <div class="form-group text-center">
                <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
              </div>
              <div class="form-group text-center" style="color: #304ffe;cursor: pointer;">
                Resend OTP
              </div>
              <div class="form-group">
                <button (click)="validateNumber()" class="btn btn-primary matContinueButton">Login</button>
              </div>

            <!-- </form> -->
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
