<!-- list detail container -->

<div class="row">
  <div class="col-md-12">
    <nav aria-label="breadcrumb no-bg">
        <ol class="breadcrumb no-bg">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item"><a routerLink="/document-doctor">Document Doctor</a></li>
          <li class="breadcrumb-item active" aria-current="page">My Account</li>
          <li class="breadcrumb-item active" aria-current="page">Orders</li>
        </ol>
      </nav>
</div>

  <div class="col-12">
    <div class="list_container">
      <div class="list_details">
        <div class="list_info">
          <div>
            <span class="name">
              <strong> Order 1: </strong>
              <span style="color: rgb(169, 167, 167);"> #123 </span>
            </span>
            <span class="code">
              Description:
              <span style="color: rgb(169, 167, 167);"> test </span>
            </span>
          </div>
        </div>
        <div class="actions">
          <i class="pi pi-minus-circle" style="color: red;"></i>
        <i class="pi pi-pencil"></i>
        </div>
      </div>
      <div class="list_details">
        <div class="list_info">
          <div>
            <span class="name">
              <strong> Order 2: </strong>
              <span style="color: rgb(169, 167, 167);"> #123 </span>
            </span>
            <span class="code">
              Description:
              <span style="color: rgb(169, 167, 167);"> test </span>
            </span>
          </div>
        </div>
        <div class="actions">
          <i class="pi pi-minus-circle" style="color: red;"></i>
        <i class="pi pi-pencil"></i>
        </div>
      </div>

      <div class="list_details">
        <div class="list_info">
          <div>
            <span class="name">
              <strong> Order 3: </strong>
              <span style="color: rgb(169, 167, 167);"> #123 </span>
            </span>
            <span class="code">
              Description:
              <span style="color: rgb(169, 167, 167);"> test </span>
            </span>
          </div>
        </div>
        <div class="actions">
          <i class="pi pi-minus-circle" style="color: red;"></i>
        <i class="pi pi-pencil"></i>
        </div>
      </div>
    </div>
  </div>
</div>
