
.card_container{
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.6);
  background:transparent!important
}

.card-text{
  font-size: xx-large;
}

.color-red{
  color: red!important;
}
.color-green{
  color: lightgreen!important;
}
.color-cyan{
  color: darkcyan!important;
}

.text-sm {
  font-size: .875rem!important;
}
p{
  font-weight: 300;
    line-height: 1.7;
}
