<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-12 mt-2 mb-2">
    <div class="card_container card bg-light  text-center">
      <div class="card-header">
        Requested Documents
      </div>
      <div class="card-body">
        <p class="card-text color-red">10</p>
        <p class="mt-3 mb-0 text-sm">
          <span class="text-success mr-2">1</span>
          <span class="text-nowrap">Since Last month</span>
        </p>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12 mt-2 mb-2">
    <div class="card_container card bg-light  text-center">
      <div class="card-header">
        Orders
      </div>
      <div class="card-body">
        <p class="card-text color-green">20</p>
        <p class="mt-3 mb-0 text-sm">
          <span class="text-success mr-2">6</span>
          <span class="text-nowrap">Since Last month</span>
        </p>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12 mt-2 mb-2">
    <div class="card_container card bg-light  text-center">
      <div class="card-header">
        Payments
      </div>
      <div class="card-body">
        <p class="card-text color-cyan">16</p>
        <p class="mt-3 mb-0 text-sm">
          <span class="text-success mr-2">5</span>
          <span class="text-nowrap">Since Last month</span>
        </p>
      </div>
    </div>
  </div>
</div>
