<!-- list detail container -->
<ng-container *ngIf="!showAddScreen">
<div class="row">
  <div class="col-md-12">
    <!-- <nav aria-label="breadcrumb no-bg">
        <ol class="breadcrumb no-bg">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item"><a routerLink="/document-doctor">Document Doctor</a></li>
          <li class="breadcrumb-item active" aria-current="page">My Account</li>
          <li class="breadcrumb-item active" aria-current="page">Users</li>
        </ol>
      </nav> -->
</div>

<div class="col-12 text-right mb-3">
  <button (click)="showDetailScreen()" class="btn btn-primary">Create New User</button>
</div>

  <div class="col-12">
    <div style="display: flex; justify-content: space-between;">
      <span><pre class="card card-block card-header mb-3">The selected page no: {{currentPage}}/{{lastPageCount}}</pre></span>
      <pagination [boundaryLinks]="true"
      style="margin-top: 7px;"
      [rotate]='true'
      [maxSize]='5'
      [(ngModel)]="currentPage"
      [totalItems]="contentData.length"
      (numPages)="lastPageCount = $event"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

      </pagination>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Avatar</th>
          <th scope="col-3">Name</th>
          <th scope="col-3">DOB</th>
          <th scope="col-3">Address</th>
          <th scope="col-3">Email</th>
          <th scope="col-3">Phone</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of paginatedData; let i =index;">
          <th scope="row">{{ i + 1 }}</th>
          <td *ngIf="!user.profile_photo || user.profile_photo === 'null'; then thenTemplateName else elseTemplateName"><img [src]="user.profile_photo" class="rounded float-left" alt="user.name" width="50"></td>
          <ng-template #thenTemplateName>
            <td><img src="http://documentdoctor.in/orderbolo/public/images/users/7057837188/profile_photo_1600230598.png" class="rounded float-left" alt="user.name" width="50"></td>
          </ng-template>
          <ng-template #elseTemplateName>
           <td><img [src]="user.profile_photo" class="rounded float-left" alt="user.name" width="50"></td>
          </ng-template>
          <td class="table-col-wdith-20">{{ user.name }}</td>
          <td>{{user.dob}}</td>
          <td>{{user.address}}</td>
          <td>{{user.email}}</td>
          <td>{{user.mobile}}</td>
          <td>
            <div class="row-actions">
            <i class="pi pi-minus-circle" style="color: red;" (click)=deleteUser(user.id)></i>
            <i (click)="showDetails()" class="pi pi-pencil"></i>
            </div>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</ng-container>


<!-- add edit form -->
<ng-container *ngIf="showAddScreen">
  <add-user
  (onBackClick)="showAddScreen = $event"
  ></add-user>
</ng-container>
