.benifts-heading {
    color: white;
    margin-top: 30px;
    font-weight: 600;
    position: relative;
}
.benifts-heading::after {
    width: 50px;
    height: 5px;
    position: absolute;
    content: "";
    bottom: -20px;
    left: 18px;
    background-color: #18ba60;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    position: relative !important;
    display: block;
    bottom: 0px !important;
    left: 0px !important;
    margin-top: 18px;
}
