<app-loader></app-loader>
  <app-navbar></app-navbar>
  <!-- [@routeAnimation]="o.isActivated ? o.activatedRoute : ''" -->
  <div id="main" class="all_container">
    <router-outlet></router-outlet>
  </div>


  <!-- Toast Messages -->
  <p-toast baseZIndex="9999"></p-toast>


<!-- Login Modal -->
<div class="modal fade" id="loginmodal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 800px;">
    <div class="modal-content">
      <!-- <button id="closeModal" style="display: none;" type="button" class="close" data-dismiss="modal" aria-label="Close"></button> -->
      <app-login *ngIf="isRedirectUrl"></app-login>
    </div>
  </div>
</div>

