.trademark-symbol-img {
    height: 130px;
    margin-top: 0px;
    width: 24%;
}
.how-we-work-img {
    height: 208px;
    margin-top: 45px;
}
.advantage-trademark {
    width: 28%;
    height: 100%;
    margin: 42px 25px 25px 25px;
}