

<div class="account_container m-5">
  <div class="nav-items sticky-top">
    <ul class="list-group">
      <li class="list-group-item" routerLink="/my-account/profile" routerLinkActive="active">Profile</li>
      <li class="list-group-item" routerLink="/my-account/requested-documents" routerLinkActive="active">Requested Documents</li>
      <li class="list-group-item" routerLink="/my-account/blogs-setting" routerLinkActive="active">Blogs Setting</li>
      <li class="list-group-item" routerLink="/my-account/manage-users" routerLinkActive="active">Manage Users</li>
      <li class="list-group-item" routerLink="/my-account/my-orders" routerLinkActive="active">My Orders</li>
    </ul>
  </div>

  <div class="custom_container">
    <router-outlet></router-outlet>
  </div>

</div>
