.nav-items{
  // top: 57px;
  // left: 0;
  // width: 330px;
  width: 20%;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  padding-top: 117px;
  border-right: 1px solid #e6e6e6;
}
// .sticky-top{
//   top: 57px;
// }

.list-group .active{
  background: #0B0633!important;
  border: #fff;
}

.list-group-item:hover{
  background: #a3aed9;
  color: #fff;
  cursor: pointer;
}

.account_container {
  display: flex;
  position: relative;
  margin: 20px auto;
  // margin-top: 85px !important;
}

.custom_container{
  padding: 0px 20px;
  width: 80%;
  margin-left: 20%;
}
