<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb no-bg">
                <ol class="breadcrumb no-bg">
                  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                  <li class="breadcrumb-item"><a routerLink="/document-doctor">Document Doctor</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Aadhar Card</li>
                </ol>
              </nav>
        </div>
        <div class="col-md-12">
          <section class="feature-category">
              <div class="row pb-3">
                  <div class="col-md-12">
                      <h1 class="feature_h1 text-center">Aadhar Card</h1>
                      <span class="feature_sub_title text-center">Fill bellow form details</span>
                      <hr>
                  </div>
              </div>
          </section>
      </div>

      <div class="col-md-4">
          <section class="feature-category description-section">
              <div class="row">
                  <div class="col-md-12">
                      Descriptions
                  </div>
              </div>
          </section>
      </div>
      <div class="col-md-8">
          <section class="feature-category description-section">
              <div class="row">
                  <div class="col-md-12">
                        <form #form="ngForm" (ngSubmit)="save(form)">
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label>Full Name</label>
                                <input type="text" name="full_name" ngModel #full_name="ngModel" class="form-control"  placeholder="Full Name" required autocomplete="off">
                                <div *ngIf="full_name.touched && full_name.hasError('required')" class="invalid-feedback" style="display: inline-block;">
                                  Full Name is required
                                </div>
                            </div>
                                <div class="form-group col-md-6">
                                <label>Pan Card</label>
                                <input type="text" name="pan_card" ngModel #pan_card="ngModel" class="form-control"  placeholder="Pan Card" required autocomplete="off">
                                <div *ngIf="pan_card.touched && pan_card.hasError('required')" class="invalid-feedback" style="display: inline-block;">
                                  Pan Card is required
                                </div>
                            </div>
                            </div>
                            <div class="form-group">
                              <label for="address">Full Address</label>
                              <textarea name="full_address" ngModel #full_address="ngModel" class="form-control"  maxlength="255" placeholder="Apartment, studio, or floor" required></textarea>
                              <div *ngIf="full_address.touched && full_address.hasError('required')" class="invalid-feedback" style="display: inline-block;">
                                Address is required
                              </div>
                          </div>
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="mobile">Mobile Number</label>
                                <input type="text" maxlength="10" name="mobile" ngModel #mobile="ngModel" class="form-control" placeholder="Mobile Number" required autocomplete="off">
                                <div *ngIf="mobile.touched && mobile.hasError('required')" class="invalid-feedback" style="display: inline-block;">
                                  Mobile number is required
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                              <label>City</label>
                              <input type="text" name="city" ngModel #city="ngModel" class="form-control"  placeholder="City" required autocomplete="off">
                              <div *ngIf="city.touched && city.hasError('required')" class="invalid-feedback" style="display: inline-block;">
                                City is required
                              </div>
                          </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label>State</label>
                                <input type="text" name="state" ngModel #state="ngModel" class="form-control"  placeholder="State" required autocomplete="off">
                                <div *ngIf="state.touched && state.hasError('required')" class="invalid-feedback" style="display: inline-block;">
                                  State is required
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                              <label for="pin">Pin Code</label>
                              <input type="text" name="pin_code" ngModel #pin_code="ngModel" maxlength="6" class="form-control"  placeholder="Pin Code" required autocomplete="off">
                              <div *ngIf="pin_code.touched && pin_code.hasError('required')" class="invalid-feedback" style="display: inline-block;">
                                Pincode is required
                              </div>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="date">Birth Date</label>
                            <input type="text" name="birth_date" ngModel #birth_date="ngModel" placeholder="Select Birth Date" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-default' }" required autocomplete="off">
                            <div *ngIf="birth_date.touched && birth_date.hasError('required')" class="invalid-feedback" style="display: inline-block;">
                              Birth Date is required
                            </div>
                        </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-file" style="width: 30%;">
                                    <input  multiple (change)="onFileChange($event)" type="file" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Upload Files</label>
                                </div>
                            </div>
                            <div class="row">
                              <div style="display: flex;">
                               <div *ngFor="let file of myFiles;let i=index;" class="pill">
                                 {{ file.name }}
                                 <mat-icon class="close-icon" (click)="myFiles.splice(i,1)" aria-hidden="false" aria-label="Example close icon">close</mat-icon>
                               </div>
                              </div>
                            </div>
                            <div class="text-center">
                              <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>
