.breadcrumb{
  padding: 6px 0px!important;
  padding-left: 30px!important;
}

.back{
  margin-bottom: .5rem!important;
  cursor: pointer;
}

.myacc_form_container {
  padding: 15px 100px;border: 1px solid #e6e6e6;
  box-shadow: 2px 2px 7px 2px #e6e6e6;
}

.custom-file-input{
  display: none;
}


.custom-file-label{
  display: none;
}
