<div class="container">
  <div class="row">
      <div class="col-md-12">
        <span class="back"><i (click)="back()" class="pi pi-arrow-left"></i></span>
          <!-- <nav aria-label="breadcrumb no-bg">
              <ol class="breadcrumb no-bg">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item"><a routerLink="/document-doctor">Document Doctor</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Account</li>
                <li class="breadcrumb-item active" aria-current="page">Blogs</li>
                <li class="breadcrumb-item active" aria-current="page">Add Blog</li>
              </ol>
            </nav> -->
      </div>
      <div class="col-md-12">
          <section class="feature-category">
              <div class="row">
                  <div class="col-md-12">
                      <!-- <h1 class="feature_h1 text-center">Gazette Certificate</h1>
                      <span class="feature_sub_title text-center">Fill bellow form details</span> -->
                      <!-- <br> -->
                      <form #form="ngForm" (ngSubmit)="save(form)">
                          <div class="form-row">
                              <div class="form-group col-md-6">
                                  <label>Title</label>
                                  <input type="text" name="title" ngModel #title="ngModel" class="form-control" placeholder="Full Name" required autocomplete="off">
                                  <div *ngIf="title.touched && title.hasError('required')" class="invalid-feedback" style="display: inline-block;">
                                    Title is required
                                  </div>
                              </div>

                              <div class="form-group col-md-6">
                                <label for="inputEmail4">Add Tags</label>
                                <!-- <input name="tags" ngModel #tags="ngModel"  type="tags" class="form-control"  placeholder="Add Tags" required autocomplete="off"> -->
                                <p-chips class="tags-container" name="tags" ngModel #tags="ngModel" [allowDuplicate]="false" placeholder="Add Tags" required></p-chips>
                                <div *ngIf="tags.touched && tags.hasError('required')" class="invalid-feedback" style="display: inline-block;">
                                  Tags are required
                                </div>
                            </div>

                          </div>
                          <div class="form-group">
                              <label for="address">Description</label>
                              <textarea name="description" ngModel #description="ngModel" class="form-control"  maxlength="255" placeholder="Apartment, studio, or floor" required></textarea>
                              <div *ngIf="description.touched && description.hasError('required')" class="invalid-feedback" style="display: inline-block;">
                                Description is required
                              </div>
                          </div>

                          <div class="form-group">
                            <div class="custom-file" style="width: 20%;">
                                <input  multiple (change)="onFileChange($event)" type="file" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Upload Files</label>
                            </div>
                        </div>
                        <div class="row">
                          <div style="display: flex;">
                           <div *ngFor="let file of myFiles;let i=index;" class="pill">
                             {{ file.name }}
                             <mat-icon class="close-icon" (click)="myFiles.splice(i,1)" aria-hidden="false" aria-label="Example close icon">close</mat-icon>
                           </div>
                          </div>
                        </div>

                          <div class="text-center">
                            <button type="submit" class="btn btn-primary">Save</button>
                          </div>

                      </form>
                  </div>
              </div>
          </section>
      </div>
  </div>
</div>
