.banner_image {
  display: block;
  width: 100%;
  height: 520px;
  object-fit: cover;
}


.pt-85 {
  padding-top: 85px;
}

.pb-70 {
  padding-bottom: 70px;
}

.section_title.text_center {
  text-align: center;
}

.mb-55 {
  margin-bottom: 55px;
}

.uppercase {
  text-transform: uppercase;
}

.section_sub_title h6 {
  letter-spacing: 5px;
  color: var(--main-bg-color);
  font-size: 16px;
}

.section_main_title h1, .section_main_title h2 {
  font-weight: 800!important;
  margin: 0;
  font-size: 45px!important;
}


// services
.block-icon-1 {
  z-index: 1;
  padding: 30px;
  background: #fff;
  box-shadow: 0 15px 30px 0px rgba(0, 0, 0, 0.1);
  min-height: 282px;
  cursor: pointer;
}

.img-fluid {
  width: 68%;
  height: 95px;
}
.block-icon-1 .icon {
  font-size: 40px;
}
