<div class="container-fluid p-0" id="mydiv">


  <p-carousel [value]="banners" styleClass="custom-carousel" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="3000">
    <ng-template pTemplate="header">
        <!-- <h5>Circular, AutoPlay, 3 Items per Page and Scroll by 1</h5> -->
    </ng-template>
    <ng-template let-banner pTemplate="item">
      <img [src]="banner" alt="first slide" class="banner_image">
    </ng-template>
</p-carousel>

</div>

<div class="service_area pt-85">
  <div class="container">
      <!-- Header -->
      <div class="row">
        <div class="col-lg-12">
          <div class="section_title text_center mb-55">
            <div class="section_sub_title uppercase mb-3">
              <h6>#1 Online Legal Registration Portal in Maharashtra</h6>
          </div>
            <div class="section_main_title">
                <h1>Search for Blogs/Categories...</h1>
            </div>
        </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6 home_autocomplete">
          <p-autoComplete
          [(ngModel)]="query"
          [suggestions]="selectedFilter"
          (completeMethod)="filterCategory($event)"
          field="name"
          [minLength]="1"
          [ngModelOptions]="{standalone: true}"
          [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
          [autoHighlight]="true"
          placeholder="Search anything here..."
          styleClass="p-autocomplete-list-item">
          <ng-template let-category pTemplate="item" >
            <!-- <img src="assets/showcase/images/demo/car/{{brand}}.png" style="width:32px;display:inline-block;margin:5px 0 2px 5px"/> -->
            <div style="display:flex;" [routerLink]="category.redirectUrl">
              <div class="service_name">{{category.name}}</div>
            <div class="category">({{ category.category }})</div>
            </div>

    </ng-template>
        </p-autoComplete>
        </div>
      </div>
    </div>
</div>


<div class="service_area pt-85 pb-70">
  <div class="container">

    <!-- Header -->
    <div class="row">
      <div class="col-lg-12">
        <div class="section_title text_center mb-55">
          <div class="section_sub_title uppercase mb-3">
              <h6>AREAS WHAT WE SERV</h6>
          </div>
          <div class="section_main_title">
              <h1>Provide Exclusive Services</h1>
          </div>
      </div>
      </div>
    </div>


    <!-- Services tiles -->
    <div class="row">
      <ng-container *ngFor="let service of services">
        <div *ngIf="service.visibleTo == 'ALL'" class="col-lg-3 col-md-6 col-sm-12 col-xs-6 mb-4">
          <div class="media block-icon-1 d-block text-center" [routerLink]="service.route">
            <div class="icon mb-3">
              <img [src]="service.image" alt="Image" class="img-fluid" />
            </div>
            <div class="media-body">
              <h3 class="h5 mb-4">{{service.name}}</h3>
              <p style="overflow: hidden;">{{service.description}}</p>
            </div>
          </div>
        </div>
      </ng-container>

    </div>

  </div>
</div>

<div class="call_do_action bg_color2 pt-20">
  <div class="container">
      <div class="row d-flex align-items-center">
          <div class="col-lg-6">
              <div class="section_title text_left mb-40 mt-3">
                  <div class="section_sub_title uppercase mb-3">
                      <h6>Register Now</h6>
                  </div>
                  <div class="section_main_title">
                      <h1>Register Today As Vendor</h1>
                      <h1><span>GET FRANCHISE</span></h1>
                      <p>Fill Online Application Form - Make Online Payment - Send Documents to your Postal Address</p>
                  </div>
              </div>
              <div class="call_do_action_button">
                  <div class="button two">
                      <a href="#" data-target="#vendor-register-modal" data-backdrop="static" data-keyboard="true"
                      data-toggle="modal">Register Now</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="acction_thumb">
                  <img src="../../../assets/vendor-home-shape.png" alt="">
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Login Modal -->
<div class="modal fade mt-8" id="vendor-register-modal">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 800px;">
    <div class="modal-content">
      <!-- <button  id="closeModal" type="button" class="close" data-dismiss="modal" aria-label="Close">x</button> -->
      <vendor-registration></vendor-registration>
    </div>
  </div>
</div>

<app-footer></app-footer>
