.mat-form-field{
  background: #fff;
  width: 100%;
  height: 42px;
  border-radius: 5px;
  font-size: 12px;
}

.mat-form-field:focus,.mat-form-field-wrapper:focus{
  outline: none;
}

.service_image{
  width: 65%;
  margin: auto;
}


// .areas_dropdown .ui-dropdown .ui-dropdown-label {

// }
