// dropdown menus
.dropdown-menu{
  border-radius: 0!important;
}

.dropdown-item:focus, .dropdown-item:hover{
  background-color: #a3aed9!important;
  color: #fff!important;
  font-weight: 500!important;
}

.dropdown-item{
  font-weight: 200!important;
  // font-size: smaller;
}

// nav bar
.navbar-brand{
  padding: 0!important;
}

.navbar-light .navbar-nav .nav-link{
  font-size: 14px;
}

// button
.btn-primary {
  background:#0B0633!important;
  border-radius: 0!important;;
}

.btn-primary.focus, .btn-primary:focus{
  border-color:#fff!important;
  box-shadow:#fff!important;
  border-color:#fff!important;
  outline: none!important;
}

.btn.focus, .btn:focus{
  box-shadow:#fff!important;
  outline: none!important;
}


// forms
::placeholder {
  color: #ced4da!important;
  font-size:14px;
  font-weight: 300!important;
  opacity: 1;
}

.form-group label{
  font-weight: 500 !important;
}

.form-control {
  height: 40px!important;
  border-radius: 0!important;
}

// tab view
body .ui-tabview.ui-tabview-top .ui-tabview-nav li{
  margin-right: 5px!important;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav li a, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li a, body .ui-tabview.ui-tabview-left .ui-tabview-nav li a, body .ui-tabview.ui-tabview-right .ui-tabview-nav li a{
  padding: 0.7em 1.5em!important;
  font-weight: 500!important;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav li, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li, body .ui-tabview.ui-tabview-left .ui-tabview-nav li, body .ui-tabview.ui-tabview-right .ui-tabview-nav li{
  background-color:#fff!important;
}

body .ui-tabview .ui-tabview-panels{
  border:1px solid #e6e6e6!important;
}
