// dropdown menus
.dropdown-menu{
  border-radius: 0!important;
}

.dropdown-item:focus, .dropdown-item:hover{
  background-color: #a3aed9!important;
  color: #fff!important;
  font-weight: 500!important;
}

.dropdown-item{
  font-weight: 200!important;
  // font-size: smaller;
}

// nav bar
.navbar-brand{
  padding: 0!important;
}

.navbar-light .navbar-nav .nav-link{
  font-size: 14px;
}


.navbar-collapse{
  transition: all 1s ease-in-out;
}

@media (max-width: 991px){
  .sub_navbar {
      background: deeppink!important;
      color: #fff!important;
      position: absolute;
      width: 100%;
      top: 40px;
      padding: 0 12px;
      left: 0;
  }

//   .main_navbar {
//     background: #ffffff!important;
//     color: #fff!important;
//     position: absolute;
//     width: 100%;
//     top: 110px;
//     padding: 0 12px;
//     left: 0;
// }
  }

// button
.btn-primary {
  background:#0B0633!important;
  border-radius: 0!important;;
}

.btn-primary.focus, .btn-primary:focus{
  border-color:#fff!important;
  box-shadow:#fff!important;
  border-color:#fff!important;
  outline: none!important;
}

.btn.focus, .btn:focus{
  box-shadow:#fff!important;
  outline: none!important;
}


// forms
::placeholder {
  color: #ced4da!important;
  font-size:14px;
  font-weight: 300!important;
  opacity: 1;
}

.form-group label{
  font-weight: 500 !important;
}

.form-control {
  height: 40px!important;
  border-radius: 0!important;
}

// tab view
body .ui-tabview.ui-tabview-top .ui-tabview-nav li{
  margin-right: 5px!important;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav li a, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li a, body .ui-tabview.ui-tabview-left .ui-tabview-nav li a, body .ui-tabview.ui-tabview-right .ui-tabview-nav li a{
  padding: 0.7em 1.5em!important;
  font-weight: 500!important;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav li, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li, body .ui-tabview.ui-tabview-left .ui-tabview-nav li, body .ui-tabview.ui-tabview-right .ui-tabview-nav li{
  background-color:#fff!important;
}

body .ui-tabview .ui-tabview-panels{
  border:1px solid #e6e6e6!important;
}


// vendor nav bar
.vendor_reg_nav{
  background-color: deeppink!important;
}
.vendor_reg_nav .navbar-nav .nav-item .nav-link {
  color: #fff!important;
}
.vendor_reg_nav .navbar-nav .login-signup-link {
  background: mediumvioletred!important;
}
// login-signup-link

.home_nav{
  background-color: #fff!important;
}
.home_nav .navbar-nav .nav-item .nav-link {
  color: #000!important;
}


// home carousal
body .ui-carousel .ui-carousel-content .ui-carousel-prev, body .ui-carousel .ui-carousel-content .ui-carousel-next{
  width: 70px;
  height: 70px;
  position: absolute;
}

.ui-carousel-content .ui-carousel-container {
  position: relative;
}

.ui-carousel-content .ui-carousel-container .ui-carousel-prev {
  left: 0;
  z-index: 1;
}

.ui-carousel-content .ui-carousel-container .ui-carousel-next{
  right: 0;
  z-index: 1;
}

.ui-carousel-dots-container{
  display: none!important;
}

// home auto complete input
.home_autocomplete .ui-autocomplete .ui-autocomplete-input{
  height: 50px;
}
.home_autocomplete .ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-list-item{
  padding: 15px 8px!important;
}

.home_autocomplete .ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-list-item .ui-state-highlight{
  background-color: #a3aed9!important;

}
.home_autocomplete .ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-list-item .service_name {
  font-size:15px;
}

.home_autocomplete .ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-list-item .category {
  text-align: right;
  margin-left: 30px;
}


// services cards
.block-icon-1 {
  z-index: 1;
  padding: 30px;
  background: #fff;
  box-shadow: 0 15px 30px 0px rgba(0, 0, 0, 0.1);
  height: 282px;
  cursor: pointer;
  // overflow: scroll;
}

.block-icon-1 .img-fluid {
  object-fit: contain;
  height: 100px;
}
.block-icon-1 .icon {
  font-size: 40px;
}

.media-body p {
  max-height: 63px;
  overflow: scroll;
}

// service small
.block-icon-1-small {
  z-index: 1;
  padding: 10px;
  background: #fff;
  box-shadow: 0 15px 30px 0px rgba(0, 0, 0, 0.1);
  // height: 200px;
  // overflow: scroll;
  cursor: pointer;
}

.block-icon-1-small .img-fluid {
  width: 35%;
  height: auto;
}
.block-icon-1-small .icon {
  // width: 100px;
  // min-height: 30px;
  // margin: 0 25%;
  font-size: 0!important;
}
// .block-icon-1-small .media-body {
//   max-height: 122px;
//   overflow: scroll;
// }

// light box
.lightbox{
  top: 60px!important;
}
