<!-- list detail container -->
<ng-container *ngIf="!showAddScreen">
<div class="row">
  <div class="col-md-12">
    <!-- <nav aria-label="breadcrumb no-bg">
        <ol class="breadcrumb no-bg m-0">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item"><a routerLink="/document-doctor">Document Doctor</a></li>
          <li class="breadcrumb-item active" aria-current="page">My Account</li>
          <li class="breadcrumb-item active" aria-current="page">Blogs</li>
        </ol>
      </nav> -->
</div>

<!-- <div class="col-12 text-right mb-3">
  <button (click)="showDetailScreen()" class="btn btn-primary">Create New Blog</button>
</div> -->

  <div class="col-12">
    <div style="display: flex; justify-content: space-between;">
      <!-- <span><pre class="card card-block card-header mb-3">The selected page no: {{currentPage}}/{{lastPageCount}}</pre></span> -->
      <pagination [boundaryLinks]="true"
      style="margin-top: 7px;"
      [rotate]='true'
      [maxSize]='5'
      [(ngModel)]="currentPage"
      [totalItems]="Blogs.length"
      (numPages)="lastPageCount = $event"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

      </pagination>
      <button (click)="showDetailScreen()" class="btn btn-primary create_blog_btn">Create New Blog</button>
    </div>

    <table class="table table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col-3">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let blog of paginatedData; let i =index;">
          <th scope="row">{{ i + 1 }}</th>
          <td class="table-col-wdith-20">{{ blog.title }}</td>
          <td><div class="sanitize_long_text"> {{ blog.description }}</div></td>
          <td>
            <div class="row-actions">
              <i (click)="blodId = blog.id" data-toggle="modal" data-target="#deletepopup" data-backdrop="static" class="pi pi-minus-circle" style="color: red;"></i>
              <i (click)="showDetails(blog)" class="pi pi-pencil"></i>
              </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</ng-container>


<!-- add edit form -->
<ng-container *ngIf="showAddScreen">
  <add-blog
  [data]="selectedBlog"
  (onBackClick)="showAddScreen = $event; selectedBlog = null"
  (onSuccess)="onSaved()"
  ></add-blog>
</ng-container>




<!-- Modal -->
<div class="modal fade" id="deletepopup" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"> Delete Alert </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this blog ?
      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-primary" data-dismiss="modal">cancel</button>
        <button  (click)="deleteBlog(blodId)" type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>
