<!-- list detail container -->
<ng-container *ngIf="!showAddScreen">
<div class="row">
  <div class="col-md-12">
    <!-- <nav aria-label="breadcrumb no-bg">
        <ol class="breadcrumb no-bg m-0">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item"><a routerLink="/document-doctor">Document Doctor</a></li>
          <li class="breadcrumb-item active" aria-current="page">My Account</li>
          <li class="breadcrumb-item active" aria-current="page">Blogs</li>
        </ol>
      </nav> -->
</div>

<div class="col-12 text-right mb-3">
  <button (click)="showDetailScreen()" class="btn btn-primary">Create New Blog</button>
</div>

  <div class="col-12">
    <div style="display: flex; justify-content: space-between;">
      <span><pre class="card card-block card-header mb-3">The selected page no: {{currentPage}}/{{lastPageCount}}</pre></span>
      <pagination [boundaryLinks]="true"
      style="margin-top: 7px;"
      [rotate]='true'
      [maxSize]='5'
      [(ngModel)]="currentPage"
      [totalItems]="Blogs.length"
      (numPages)="lastPageCount = $event"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

      </pagination>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col-3">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let blog of paginatedData; let i =index;">
          <th scope="row">{{ i + 1 }}</th>
          <td class="table-col-wdith-20">{{ blog.title }}</td>
          <td> {{ blog.description }}</td>
          <td>
            <div class="row-actions">
              <i class="pi pi-minus-circle" style="color: red;"></i>
              <i (click)="showDetails()" class="pi pi-pencil"></i>
              </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</ng-container>


<!-- add edit form -->
<ng-container *ngIf="showAddScreen">
  <add-blog
  (onBackClick)="showAddScreen = $event"
  ></add-blog>
</ng-container>
