<div class="container mb-2">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb no-bg">
                <ol class="breadcrumb no-bg">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item"><a routerLink="/document-doctor">Document Doctor</a></li>
                    <li class="breadcrumb-item active" aria-current="page">DSC APPLICATION FORM</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="container-fluid p-0 text-center mb-2">
    <img src="../../../assets/dsc/dsc-logo.jpg" class="mark p-0 text-center w-100">
</div>
<div class="form_container">
    <div class="row">
        <div class="col-md-12">
            <section class="feature-category">
                <div class="row pb-3">
                    <div class="col-md-12">
                        <h1 class="feature_h1 text-center">Digital Certificate Details</h1>
                        <span class="feature_sub_title text-center">Fill the Form bellow</span>
                        <hr>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-md-7">
            <section class="feature-category description-section">
                <div class="row">
                    <div class="col-md-12 registration-label">
                        Registration
                    </div>
                    
                    <div class="form-row mt-2">
                        <div class="col-md-12 form-group pl-3">
                            <label><strong>Digital Certificate Details</strong></label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <form #form="ngForm" (ngSubmit)="save(form)">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Usage Type</label>
                                    <select id="quform_2_7_12e527" class="form-control" name="usage_type" ngModel
                                        #usage_type="ngModel" required>
                                        <option value="" selected="selected">Please select</option>
                                        <option value="For Multiple Purpose">For Multiple Purpose</option>
                                        <option value="For GST">For GST</option>
                                        <option value="For MCA (ROC)">For MCA (ROC)</option>
                                        <option value="For Income Tax">For Income Tax</option>
                                        <option value="For EPF">For EPF</option>
                                        <option value="For Foreign Trade">For Foreign Trade</option>
                                        <option value="For E-Tender">For E-Tender</option>
                                        <option value="For Trademark">For Trademark</option>
                                        <option value="For E-Ticketing">For E-Ticketing</option>
                                        <option value="For Document Signer">For Document Signer</option>
                                        <option value="For Director's KYC">For Director's KYC</option>
                                        <option value="For Other Purpose">For Other Purpose</option>
                                    </select>
                                    <div *ngIf="usage_type.touched && usage_type.hasError('required')"
                                        class="invalid-feedback" style="display: inline-block;">
                                        User type is required
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Class Type</label>
                                    <select class="form-control" name="class_type" ngModel #class_type="ngModel"
                                        required>
                                        <option value="" selected="selected">Please select</option>
                                        <option value="Class 2">Class 2</option>
                                        <option value="Class 3">Class 3</option>
                                    </select>
                                    <div *ngIf="class_type.touched && class_type.hasError('required')"
                                        class="invalid-feedback" style="display: inline-block;">
                                        User type is required
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>User Type</label>
                                    <select id="quform_2_7_12e527" class="form-control" name="user_type" ngModel
                                        #user_type="ngModel" required>
                                        <option value="" selected="selected">Please select</option>
                                        <option value="Individual">Individual</option>
                                        <option value="Organization">Organization</option>
                                    </select>
                                    <div *ngIf="user_type.touched && user_type.hasError('required')"
                                        class="invalid-feedback" style="display: inline-block;">
                                        User type is required
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Certificate Type</label>
                                    <select class="form-control" name="certificate_type" ngModel
                                        #certificate_type="ngModel" required>
                                        <option value="" selected="selected">Please select</option>
                                        <option value="Signature">Signature</option>
                                        <option value="Encryption">Encryption</option>
                                        <option value="Both">Both</option>
                                        <option value="Document Signer" style="display: none;">Document Signer</option>
                                    </select>
                                    <div *ngIf="certificate_type.touched && certificate_type.hasError('required')"
                                        class="invalid-feedback" style="display: inline-block;">
                                        User type is required
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Certificate Validity</label>
                                    <select class="form-control" name="certificate_validity" ngModel
                                        #certificate_validity="ngModel" required>
                                        <option value="" selected="selected">Please select</option>
                                        <option value="2 Years">2 Years</option>
                                        <option value="3 Years">3 Years</option>
                                    </select>
                                    <div *ngIf="certificate_validity.touched && certificate_validity.hasError('required')"
                                        class="invalid-feedback" style="display: inline-block;">
                                        certificate_validity is required
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mt-2">
                                <div class="form-group col-md-12">
                                    <label><strong>Applicant Details</strong></label>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="pin">Applicant Name</label>
                                    <input type="text" name="applicant_name" ngModel #applicant_name="ngModel"
                                        maxlength="6" class="form-control"
                                        placeholder="(Name should be exactly as per the ID proof provided)" required
                                        autocomplete="off">
                                    <div *ngIf="applicant_name.touched && applicant_name.hasError('required')"
                                        class="invalid-feedback" style="display: inline-block;">
                                        applicant_name is required
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="pin">Applicant Email</label>
                                    <input type="text" name="applicant_email" ngModel #applicant_email="ngModel"
                                        maxlength="6" class="form-control" placeholder="Email" required
                                        autocomplete="off">
                                    <div *ngIf="applicant_email.touched && applicant_email.hasError('required')"
                                        class="invalid-feedback" style="display: inline-block;">
                                        applicant_email is required
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="mobile">Mobile</label>
                                    <input type="text" maxlength="10" name="mobile" ngModel #mobile="ngModel"
                                        class="form-control" placeholder="98XXXXXXXX (Without 0 or +91)" required
                                        autocomplete="off">
                                    <div *ngIf="mobile.touched && mobile.hasError('required')" class="invalid-feedback"
                                        style="display: inline-block;">
                                        Mobile number is required
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Gender Type</label>
                                    <select class="form-control" name="gender" ngModel #gender="ngModel" required>
                                        <option value="" selected="selected">Please select</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Document Signer" style="display: none;">Document Signer</option>
                                    </select>
                                    <div *ngIf="gender.touched && gender.hasError('required')" class="invalid-feedback"
                                        style="display: inline-block;">
                                        Gender is required
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="date">Birth Date</label>
                                    <input type="text" name="birth_date" ngModel #birth_date="ngModel"
                                        placeholder="Select Birth Date" class="form-control" bsDatepicker
                                        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-default' }"
                                        required autocomplete="off">
                                    <div *ngIf="birth_date.touched && birth_date.hasError('required')"
                                        class="invalid-feedback" style="display: inline-block;">
                                        Birth Date is required
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="pin">Pan Card</label>
                                    <input type="text" name="pan_card" ngModel #pan_card="ngModel" maxlength="6"
                                        class="form-control" placeholder="Pan Card" required autocomplete="off">
                                    <div *ngIf="pan_card.touched && pan_card.hasError('required')"
                                        class="invalid-feedback" style="display: inline-block;">
                                        pan_card is required
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="pin">Address</label>
                                    <input type="text" name="address" ngModel #address="ngModel" maxlength="6"
                                        class="form-control"
                                        placeholder="(Address should be as per the registered address in the GST Certificate)"
                                        required autocomplete="off">
                                    <div *ngIf="address.touched && address.hasError('required')"
                                        class="invalid-feedback" style="display: inline-block;">
                                        address is required
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="pin">Postal Code</label>
                                    <input type="text" name="posta_code" ngModel #posta_code="ngModel" maxlength="6"
                                        class="form-control" placeholder="Postal Code" required autocomplete="off">
                                    <div *ngIf="posta_code.touched && posta_code.hasError('required')"
                                        class="invalid-feedback" style="display: inline-block;">
                                        posta_code is required
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Nationality</label>
                                    <select class="form-control" name="nationality" ngModel #nationality="ngModel"
                                        required>
                                        <option value="" selected="selected">Please select</option>
                                        <option value="Indian">Indian</option>
                                    </select>
                                    <div *ngIf="nationality.touched && nationality.hasError('required')"
                                        class="invalid-feedback" style="display: inline-block;">
                                        nationality is required
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Country</label>
                                    <select class="form-control" name="country" ngModel #country="ngModel" required>
                                        <option value="" selected="selected">Please select</option>
                                        <option value="Indian">India</option>
                                    </select>
                                    <div *ngIf="country.touched && country.hasError('required')"
                                        class="invalid-feedback" style="display: inline-block;">
                                        country is required
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>State/Union Territory*</label>
                                    <select class="form-control" name="state" ngModel #state="ngModel" required>
                                        <option value="">Select State</option>
                                        <option mytag="1" value="ANDHRA PRADESH">ANDHRA PRADESH</option>
                                        <option mytag="2" value="ARUNACHAL PRADESH">ARUNACHAL PRADESH</option>
                                        <option mytag="3" value="ASSAM">ASSAM</option>
                                        <option mytag="4" value="BIHAR">BIHAR</option>
                                        <option mytag="5" value="CHANDIGARH">CHANDIGARH</option>
                                        <option mytag="6" value="CHHATISGARH">CHHATISGARH</option>
                                        <option mytag="7" value="DADRA AND NAGAR HAVELI">DADRA AND NAGAR HAVELI</option>
                                        <option mytag="8" value="DAMAN AND DIU">DAMAN AND DIU</option>
                                        <option mytag="9" value="DELHI">DELHI</option>
                                        <option mytag="10" value="GOA">GOA</option>
                                        <option mytag="11" value="GUJARAT">GUJARAT</option>
                                        <option mytag="12" value="HARYANA">HARYANA</option>
                                        <option mytag="13" value="HIMACHAL PRADESH">HIMACHAL PRADESH</option>
                                        <option mytag="14" value="JAMMU AND KASHMIR">JAMMU AND KASHMIR</option>
                                        <option mytag="15" value="JHARKHAND">JHARKHAND</option>
                                        <option mytag="16" value="KARNATAKA">KARNATAKA</option>
                                        <option mytag="17" value="KERALA">KERALA</option>
                                        <option mytag="18" value="LADAKH">LADAKH</option>
                                        <option mytag="19" value="LAKSHADWEEP">LAKSHADWEEP</option>
                                        <option mytag="20" value="MADHYA PRADESH">MADHYA PRADESH</option>
                                        <option mytag="21" value="MAHARASHTRA">MAHARASHTRA</option>
                                        <option mytag="22" value="MANIPUR">MANIPUR</option>
                                        <option mytag="23" value="MEGHALAYA">MEGHALAYA</option>
                                        <option mytag="24" value="MIZORAM">MIZORAM</option>
                                        <option mytag="25" value="NAGALAND">NAGALAND</option>
                                        <option mytag="26" value="ODISHA">ODISHA</option>
                                        <option mytag="27" value="PONDICHERRY">PONDICHERRY</option>
                                        <option mytag="28" value="PUNJAB">PUNJAB</option>
                                        <option mytag="29" value="RAJASTHAN">RAJASTHAN</option>
                                        <option mytag="30" value="SIKKIM">SIKKIM</option>
                                        <option mytag="31" value="TAMIL NADU">TAMIL NADU</option>
                                        <option mytag="32" value="TELANGANA">TELANGANA</option>
                                        <option mytag="33" value="TRIPURA">TRIPURA</option>
                                        <option mytag="34" value="UTTAR PRADESH">UTTAR PRADESH</option>
                                        <option mytag="35" value="UTTARAKHAND">UTTARAKHAND</option>
                                        <option mytag="36" value="WEST BENGAL">WEST BENGAL</option>
                                    </select>
                                    <div *ngIf="state.touched && state.hasError('required')" class="invalid-feedback"
                                        style="display: inline-block;">
                                        state is required
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Aadhaar Card Number</label>
                                    <input type="text" name="aadhar_card" ngModel #aadhar_card="ngModel" maxlength="16"
                                        class="form-control" placeholder="Aadhar Card Number" required
                                        autocomplete="off">
                                    <div *ngIf="aadhar_card.touched && aadhar_card.hasError('required')"
                                        class="invalid-feedback" style="display: inline-block;">
                                        aadhar_card is required
                                    </div>
                                </div>
                            </div>

                            <div class="form-row mt-2">
                                <div class="form-group col-md-12">
                                    <label><strong>Documents Submitted as Proof</strong></label>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-12 form-group m-0 p-0">
                                    <label class="m-0 p-0">1. Upload Your Aadhaar Card Front Side*</label>
                                </div>
                                <div class="col-md-12 form-group m-0 p-0">
                                    <label class="m-0 p-0">2. Upload Your Aadhaar Card Back Side**</label>
                                </div>
                                <div class="col-md-12 form-group m-0 p-0">
                                    <label class="m-0 p-0">3. Upload Your PAN Card*</label>
                                </div>
                                <div class="col-md-12 form-group m-0 p-0">
                                    <label class="m-0 p-0">4. Passport Size Photo**</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 mb-2">
                                    <input multiple (change)="onFileChange($event)" type="file"
                                        class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Upload Files</label>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div style="display: flex; ">
                                    <div *ngFor="let file of myFiles;let i=index;" class="pill">
                                        {{ file.name }}
                                        <mat-icon class="close-icon" (click)="myFiles.splice(i,1)" aria-hidden="false"
                                            aria-label="Example close icon">close</mat-icon>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mt-2">
                                <button *ngIf="!isVeiwMode" type="submit"
                                    class="btn btn-primary btn_save">Proceed to verify and Pay</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

        </div>

        <div class="col-md-5">
            <section class="feature-category description-section">
                <div class="row">
                    <div class="col-md-12 registration-label">
                        Instructions
                    </div>
                    <div class="col-md-12">
                        <div class="quform-spacer"><strong>Declaration:</strong>
                            I hereby declare that the details furnished above are true and correct to the best of my
                            knowledge and belief and I undertake to inform you of any changes therein, immediately. In
                            case any of the above information is found to be false or untrue or misleading or
                            misrepresenting, I am aware that I may be held liable for it.<br>
                            <br>
                            <strong>घोषणा</strong>: मैं इस बात की घोषणा करता हूं कि ऊपर प्रस्तुत विवरण मेरे ज्ञान और
                            विश्वास के लिए सही और सही हैं और मैं आपको इसमें होने वाले किसी भी बदलाव के बारे में तुरंत
                            सूचित करने का वचन देता हूं। यदि उपरोक्त कोई भी जानकारी गलत या असत्य या भ्रामक या गलत बयानी
                            करने वाली पाई जाती है, तो मुझे पता है कि मुझे इसके लिए उत्तरदायी ठहराया जा सकता है।</div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>