.myacc_form_container {
  padding: 15px 100px;border: 1px solid #e6e6e6;
  box-shadow: 2px 2px 7px 2px #e6e6e6;
}
.breadcrumb{
  padding: 6px 0px!important;
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
